<!DOCTYPE html>
<html>
<head>
    <title>Todo Lists</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Your Lists</h1>

    <ul>
        {% for list in todo_lists %}
            <li>
                <a href="/todo-list/{{ list.id }}/page">
                    {{ list.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Create new list</h2>
    <input id="list-name" placeholder="List name">
    <button onclick="createList()">Create</button>

    <script src="/static/app.js"></script>
</body>
</html>